.logoazulmarino {
  width: 310px;
  padding-bottom: 20px; }

.nav-color-rojo {
  text-decoration-color: black;
  text-decoration: none; }
  .nav-color-rojo:hover {
    color: #f03a0d;
    font-size: 20px; }

.nav-item {
  margin-left: 30px;
  margin-right: 30px; }

.nav-item::after {
  content: "";
  position: absolute;
  background-color: red;
  height: 4px;
  width: 0%;
  transition: 0.3s; }

.nav-item:hover::after {
  width: 10%; }

.btn-outline-primary {
  border: none;
  padding: 5px;
  border-radius: 5px; }

.bi-instagram {
  font-size: 40px;
  color: black; }
  .bi-instagram:hover {
    color: #833AB4; }

.bi-facebook {
  font-size: 40px;
  color: black; }
  .bi-facebook:hover {
    color: #4267B2; }

.bi-whatsapp {
  font-size: 40px;
  color: black; }
  .bi-whatsapp:hover {
    color: #25D366; }

.btn-primary {
  background-color: rgba(0, 0, 255, 0.829);
  border-radius: 20px;
  width: 50%; }

.footer {
  background-color: lightsteelblue;
  margin-top: 100px; }
  .footer h2 {
    padding-top: 20px; }

.card-detalles {
  border-radius: 5%;
  margin: 20px;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.34);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.34);
  width: 60%; }

.card, .card-detalles {
  width: 100%;
  margin-top: 50px; }
  .card img, .card-detalles img {
    border-radius: 5%;
    width: 100%; }

.btn-color-rojo {
  text-decoration-color: black;
  text-decoration: none; }
  .btn-color-rojo:hover {
    color: #f03a0d;
    font-size: 20px; }

.btn-color-azul {
  text-decoration-color: black;
  text-decoration: none; }
  .btn-color-azul:hover {
    color: blue;
    font-size: 20px; }

.btn-color-celeste {
  text-decoration-color: black;
  text-decoration: none; }
  .btn-color-celeste:hover {
    color: #179fcd;
    font-size: 20px; }

.btn-color-naranja {
  text-decoration-color: black;
  text-decoration: none; }
  .btn-color-naranja:hover {
    color: #d67112;
    font-size: 20px; }
