.btn-outline-primary{
    border: none;
    padding: 5px; 
    width: 30px;  
}
.bi-instagram{
    @include redes-color($color-insta);
}
.bi-facebook{
    @include redes-color($color-fb);
}
.bi-whatsapp{
    @include redes-color($color-wp);
}
.bi{
    width: 30px;
}
