.logoazulmarino {
  width: 200px; }

.btn-outline-primary {
  border: none;
  padding: 5px;
  width: 30px; }

.bi-instagram {
  width: 30px;
  height: 30px;
  color: black; }
  .bi-instagram:hover {
    color: #833AB4; }

.bi-facebook {
  width: 30px;
  height: 30px;
  color: black; }
  .bi-facebook:hover {
    color: #4267B2; }

.bi-whatsapp {
  width: 30px;
  height: 30px;
  color: black; }
  .bi-whatsapp:hover {
    color: #25D366; }

.bi {
  width: 30px; }

div label i {
  width: 400px;
  background-color: red; }
